
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('./fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Bold.woff2') format('woff2'),
  url('./fonts/Roboto-Bold.woff') format('woff'),
  url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Regular.woff2') format('woff2'),
  url('./fonts/Roboto-Regular.woff') format('woff'),
  url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Black.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
  url('./fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Black.woff2') format('woff2'),
  url('./fonts/Roboto-Black.woff') format('woff'),
  url('./fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('./fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Thin.woff2') format('woff2'),
  url('./fonts/Roboto-Thin.woff') format('woff'),
  url('./fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('./fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Light.woff2') format('woff2'),
  url('./fonts/Roboto-Light.woff') format('woff'),
  url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('./fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Roboto-Medium.woff2') format('woff2'),
  url('./fonts/Roboto-Medium.woff') format('woff'),
  url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

input {
  padding: 14px 24px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  transition: var(--transition);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --font-main: "Roboto", sans-serif;
  --font-size-base: 16px;

  --color-red: #D82D32;
  --color-red-hover: #bb2429;

  --color-blue: #104076;
  --color-light-blue: #98B8DC;
  --color-light-blue-02: #49AAD1;
  --color-dark-blue: #76A4BA;
  --color-dark-blue-02: #003B64;

  --color-text: #4C5764;
  --color-bg: #fff;
  --color-body: #F0F0F0;

  --color-dark-01: #3A5463;
  --color-dark-02: #CCCCCC;
  --color-dark-03: #808080;
  --color-dark-04: #7E838E;
  --color-dark-05: #9CA9B0;
  --color-dark-06: #E2E6E8;


  --container-width: 1526px;
  --gutter: 40px;
  --transition: .3s ease-in-out;
}

html, body {
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--color-body);
}

/* Центрирование контейнера */
.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

/* Основные заголовки */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

/* Абзацы */
p {
}

/* Footer прижат к низу, если контента мало */
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
button svg, button img {
  margin-left: 10px;
}


/* Components */
.button--basic {
  background-color: var(--color-red);
  text-transform: uppercase;
}

.button--basic-blue {
  background-color: var(--color-blue);
  text-transform: uppercase;
  color: #fff;
}

.button--basic:hover {
  background-color: var(--color-red-hover);
}

.button--basic-bordered {
  background-color: transparent;
  border: 2px solid var(--color-red);
  color: var(--color-red);
}

.button--basic-bordered:hover {
  border: 2px solid var(--color-red-hover);
}

.button--neutral {
  background-color: var(--color-bg);
  text-transform: uppercase;
  color: var(--color-text);
}

.button--neutral-bordered {
  background-color: transparent;
  border: 1px solid var(--color-dark-01);
  color: var(--color-dark-01);
}



.title--48 {
  font-size: 48px;
  color: var(--color-blue);
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
}

.title--double-42, .title--double-36 {
  font-size: 42px;
  color: var(--color-blue);
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
}

.title--double-42 span, .title--double-36 span {
  font-size: 42px;
  color: var(--color-text);
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
}

.title--double-36, .title--double-36 span  {
  font-size: 36px;
  line-height: 120%;
}

.title--40 {
  font-size: 40px;
  color: var(--color-blue);
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.title--36 {
  font-size: 36px;
  color: var(--color-blue);
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.title--32 {
  font-size: 32px;
  color: #fff;
  line-height: 100%;
  font-weight: 800;
}

.title--30 {
  font-size: 30px;
  color: var(--color-blue);
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.text--32 {
  font-size: 32px;
  color: var(--color-text);
  font-weight: 800;
  line-height: 100%;
}

.text--24 {
  font-size: 24px;
  color: var(--color-text);
  font-weight: 700;
  line-height: 46px;
}

.text--21 {
  font-size: 21px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 120%;
}

.text--20 {
  font-size: 20px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 140%;
}

.text--16 {
  font-size: 16px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 120%;
}

.text--14 {
  font-size: 14px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 120%;
}

.text--12 {
  font-size: 12px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 120%;
}

.input--bordered {
  border: 1px solid var(--color-dark-02);
  height: 47px;
}

input::placeholder {
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  color: var(--color-dark-03);
}

.input--solid {
  background-color: #fff;
  border-radius: 40px;
  height: 46px;
}

.input--solid::placeholder {
  font-size: 16px;
}



select {
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  color: #333;
  border: 1px solid var(--color-dark-02);
  border-radius: 6px;
  background-color: transparent;
  appearance: none;          /* убираем стандартную стрелку */
  -webkit-appearance: none;  /* для Safari */
  -moz-appearance: none;     /* для Firefox */
  background-image: url("data:image/svg+xml,%3Csvg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
}

/* Для Firefox: стилизуем список */
select::-ms-expand {
  display: none;
}